@model Movie

@{
    ViewData["Title"] = "Confirmation";
}
@* confirmation page for when a new movie has been added *@
<div class="text-center">
    <h2>The movie, @Model.Title, has been added to your collection! </h2>
    
</div>




