@{
    ViewData["Title"] = "Get to Know Joel";
}


@* title and photo with links to access sites *@
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" height="500" alt="Clickable Image">
    </a>
    <br/>
    <a href="https://www.qwcomedy.com/">Quick Wits</a>
    <a href="https://baconsale.com/">Bacon Sale</a>
</div>