@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* Header and photo for the home page *@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="500"/>
</div>